@charset 'utf-8';

/* reset */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
table,
th,
td,
p {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-size: 15px;
  font-weight: normal;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: black;
}

/* base */
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Pretendard, Noto Sans KR", sans-serif;
  color: #2f3438;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
}

img {
  text-indent: -99999px;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 60px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 60px 0 20px 0;
}

.more {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
}

.more_view_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more_view_link {
  display: inline-block;
}

.more_view_link:hover .more_view_btn {
  background-color: #e5e5e5;
}

.more_view_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border: none;
  border-radius: 20px;
  background-color: rgb(234, 237, 239);
}

/* 이미지 스케일 */
.scale_hidden {
  overflow: hidden;
  border-radius: 6px;
}

.img_scale_transition {
  transition: 0.2s ease 0s;
}

.main_best_review_link .review_img_wrap:hover .review_img,
.carousel_wrap:hover img,
.item_img:hover img,
.special_exhibition_img_wrap:hover img {
  transform: scale(1.05);
}

/* 슬라이드 버튼 */
.slide_btn_left_wrap,
.slide_btn_right_wrap {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.slide_btn_right_wrap {
  right: -48px;
}

.slide_left_btn,
.slide_right_btn {
  opacity: 0;
  cursor: pointer;
  transition: 0.4s ease 0s;
}

.carousel_wrap:hover .slide_left_btn,
.carousel_wrap:hover .slide_right_btn {
  opacity: 1;
}

.slide_left_btn,
.slide_right_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50px;
  background-color: var(--white-color);
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
}

.slide_left_btn:hover,
.slide_right_btn:hover {
  background-color: #f7f7f7;
}

.slide_left_btn span::before,
.slide_right_btn span::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%232f3438' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m14 7l-5 5l5 5'/%3E%3C/svg%3E");
}

.slide_right_btn span::before {
  transform: rotate(180deg);
}
