@charset 'utf-8';

:root {
  --white-color: #fff;
  --black-color: #2f3438;
  --primary-color: #35c5f0;
  --gray-color: #828c94;
  --lightgray-color: rgb(234, 237, 239);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1920px;
  margin: 0 auto;
}

/* top banner */
.top_banner_container {
  display: flex;
  text-align: center;
  width: 100%;
  height: 50px;
}

.top_banner {
  width: 100%;
  line-height: 50px;
}

.left_banner {
  background-color: #ff9d42;
}

.right_banner {
  background-color: #1296f5;
}

/* ----- header ----- */
#header {
  width: 100%;
}

/* top menu */
.top_menu_container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0;
  height: 80px;
}

.top_menu .logo {
  float: left;
  padding: 10px;
  width: 71px;
  height: 28px;
}

.top_menu .left {
  float: left;
  padding: 6px;
  margin: 0 15px;
  width: 508px;
  height: 40px;
}

.top_menu li {
  display: inline-block;
  margin: 0 15px;
}

.top_menu li:first-child {
  color: #35c5f0;
}

.top_menu .list {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.top_menu .search {
  padding: 0 10px;
}

input[type="text"] {
  padding: 0 10px;
  width: 200px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 6px;
}

input[type="text"]:hover {
  border: 1px solid #35c5f0;
  cursor: pointer;
}

.top_menu .right {
  margin: 0 auto;
  padding: 10px;
  height: 40px;
  text-align: Center;
  font-weight: bold;
}

.top_menu .login_btn {
  padding: 0 10px;
  width: 55px;
  height: 40px;
  font-size: 14px;
  color: #ccc;
  border-right: 1px solid gray;
}

.top_menu .join_btn {
  padding: 0 10px;
  width: 68px;
  height: 40px;
  font-size: 14px;
  color: #ccc;
}
.top_menu .btn {
  padding: 0 10px;
  width: 120px;
  height: 40px;
  border-radius: 6px;
}

.write_btn {
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #35c5f5;
}

/* main menu */
.main_menu_container {
  border-bottom: 1px solid #eaedef;
}

.main_menu_wrap {
  max-width: 1256px;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.main_menu_inner {
  overflow: hidden;
  display: flex;
  flex: 1 0 0;
}

.main_menus {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.main_menu {
  width: 100%;
  height: 100%;
  margin: 0 5px;
  font-weight: 600;
  line-height: 0;
}

.main_menu_link {
  position: relative;
  display: block;
  padding: 24px 6px;
}

.underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(53, 197, 240);
}

.main_menu_name {
  white-space: nowrap;
}

.main_menu_link:hover .main_menu_name {
  color: #35c5f5;
}

.main_menu_hidden {
  position: relative;
  line-height: 0;
}

.hidden_menu_btn {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  transform: translateX(-100%);
  border: none;
  background-color: none;
  z-index: 4;
  cursor: pointer;
}

.hidden_menu_btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 50%
  );
}

.hidden_menu_btn span {
  z-index: 2;
}

.popular_keyword {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

/* ----- main ----- */
#main {
  width: 100%;
  height: 100%;
  margin: 30px 0 40px;
}

/* main_best_review */
.main_banner_container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-columns: 74% 26%;
}

.review_img_wrap {
  width: 100%;
  height: 100%;
}

.main_best_review_link {
  width: calc(100% - 20px);
  height: 100%;
  position: relative;
}

.main_banner_contents {
  position: absolute;
  bottom: 0;
  padding: 30px;
  line-height: 3rem;
  color: #fff;
  z-index: 10;
}

.banner_user_info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner_user_profile {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 100%;
}

.banner_user_profile .user_profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_title {
  font-size: 2rem;
  font-weight: 700;
}

.main_best_review_link .review_img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

/* carousel */
.carousel_wrap {
  position: relative;
}

.carousel_link_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel_banner_lists {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel_banner_list {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.main_banner_link {
  width: 100%;
}

.carousel_link {
  display: block;
  position: relative;
}

.carousel_link img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

/* 
contents by cotagory, 
category by find item 
*/
.contents_category_wrap {
  margin-top: 30px;
}

.contents_category_lists,
.finditem_lists {
  display: flex;
  justify-content: space-between;
}

.contents_category_lists .category_list {
  flex: 1;
  text-align: center;
}

.contents_category_lists .category_list a img {
  max-width: 88px;
}

.contents_category_lists .category_list a p {
  font-weight: 300;
  line-height: 20px;
  margin-top: 8px;
}

.finditem_list_wrap {
  position: relative;
}

.finditem_lists {
  overflow: hidden;
}

.finditem_lists::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
}

.finditem_lists .category_list {
  margin-right: 12px;
  flex-shrink: 0;
}

.finditem_lists .category_list .category_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.825rem;
}

.finditem_lists .category_list .category_link p {
  margin-top: 8px;
}

.finditem_lists .category_list .category_link .category_img_wrap {
  width: 100%;
  height: 72px;
}

.finditem_lists .category_list .category_link .category_img_wrap img {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

/* today deal items */
.today_deal_items_lists {
  display: flex;
  overflow: hidden;
}

.today_deal_item {
  width: calc(25% - 15px);
  margin-right: 20px;
  flex-shrink: 0;
}

.item_img img {
  width: 100%;
  border-radius: 6px;
}

.item_title_wrap {
  margin-top: 9px;
  line-height: 1.5;
}

.item_brand {
  font-size: 0.7rem;
  color: var(--gray-color);
}

.item_title {
  font-size: 0.88rem;
  word-break: keep-all;
}

.item_price_wrap {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
}

.item_rate {
  color: var(--primary-color);
}

.item_price {
  color: #000;
}

.item_states {
  line-height: 1.2;
  font-size: 0.8rem;
  color: var(--gray-color);
}

.star_icon {
  width: 1.1em;
  height: 1.1em;
  color: var(--primary-color);
  vertical-align: -2px;
}

.avg {
  font-weight: 700;
  margin-right: 2px;
  color: var(--black-color);
}

/* special exhibition */
.special_exhibition_lists {
  display: flex;
}

.special_exhibition_lists li {
  width: calc(25% - 15px);
  margin-right: 20px;
}

.special_exhibition_img_wrap {
  border-radius: 6px;
  overflow: hidden;
}

.special_exhibition_img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.special_exhibition_summary {
  margin-top: 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
}

.special_exhibition_title {
  margin-top: 2px;
  line-height: 1.5;
  font-weight: 700;
}

/* best tab menu */
.tab_btn_wrap {
  width: 100%;
  margin-bottom: 16px;
}

.tab_btn_lists {
  display: flex;
  gap: 6px;
  position: relative;
  overflow: hidden;
}

.tab_item_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 16px;
}

.tab_btn_lists::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 50%
  );
}

.tab_btn_list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 12px 10px;
  font-size: 0.9rem;
  border-radius: 30px;
  background-color: rgb(247, 249, 250);
  flex-shrink: 0;
  cursor: pointer;
}

.tab_btn_list:hover {
  background-color: var(--lightgray-color);
}

.tab_btn_list.on {
  background-color: var(--primary-color);
  color: #fff;
}
/* ----- footer ----- */
#footer {
  width: 100%;
  height: 320px;
  padding: 40px;
  background-color: #f7f9fa;
}

.footer_bold {
  font-weight: 700;
}

.footer_wrap {
  height: 100%;
  display: flex;
}

.footer_line {
  width: 1px;
  margin: 0 30px;
  background-color: var(--lightgray-color);
}

.cs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cs_link {
  font-size: 18px;
}

.cs_schedule_lists {
  line-height: 1.5;
  font-size: 12px;
}

.cs_schedule_lists li {
  position: relative;
  padding-left: 10px;
}

.cs_schedule_lists li::before {
  content: "∙";
  display: inline-block;
  position: absolute;
  left: -3px;
}

.cs_info .number {
  margin: 20px 0 8px;
}

.cs_info .Inquiry_link {
  margin-top: 12px;
}

.cs_info .Inquiry_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cs_info .Inquiry_link a {
  display: block;
  padding: 8px;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
  white-space: nowrap;
}

.footer_menu {
  display: flex;
  gap: 30px;
}

.footer_menu_lists1,
.footer_menu_lists2 {
  font-size: 12px;
  line-height: 3;
  white-space: nowrap;
}

.cp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}

.cp .cp_info {
  word-break: keep-all;
}

.cp .cp_info div {
  display: inline-block;
  line-height: 1.5;
}

.cp .certified {
  display: flex;
  gap: 10px;
}

.cp .certified span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 102px;
  font-size: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(218, 221, 224);
}

.cp .certified span:first-child {
  gap: 5px;
}

.cp .certified span img {
  width: 32px;
  height: 32px;
}

.sns_lists {
  display: flex;
  gap: 15px;
}
